/*
* @Author: qiqi
* @Date:   2018-01-17 14:34:39
* @Last Modified by:   qiqi
* @Last Modified time: 2018-01-20 16:52:53
*/
*{
	margin:0;
	padding: 0; 
}
body{
	background: #f5f5f5;
}

.screen{
	width: 100%;
	height: 13.77rem;
	/* background: red; */
	background: url(../img/screen.png) no-repeat left bottom,-webkit-linear-gradient(top,#3cc0ff,#44ddff);
    background-size: contain;
 
}
.header{
	width: 100%;
	height: 1.58rem;
/* 	background: red; */
	font-size: 0.6rem;
	/* 字体颜色 */
	color: #fff;
	/* 字体加粗 */
	font-weight: bold;
	/* 文本属性 */
	text-align: center;
	/*与height相同 */
	line-height: 1.58rem;
}
.screen .box{
	width: 2.1rem;
	height: 1.26rem;
	background:rgb(241,171,98);
	border-radius:0.18rem;
	margin-left: 0.27rem;
	margin-top: 0.16rem;
	/* 内填充 */
	padding-top: 0.22rem;
	/* 自定义盒模型，防止盒子变大 */
	box-sizing: border-box;
}
.screen .box h2{
	font-size: 0.3rem;
	color: #fff;
	text-align: center;
}
.screen .box h3{
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
}
.screen .tatle1{
	width: 100%;
	height: 1.75rem;
	margin-top: 0.28rem;
	/* 字体大小是复数 */
	font-size: 1.3rem;
	/* 字体颜色 */
	color: #fff;
	/* 字体加粗 */
	font-weight: bold;
	/*与height相同 */
	line-height: 1.75rem;
	/* 填充 */
	/* padding-left:4.96rem;
	box-sizing:border-box; */ 
	text-align: center; 
}
.screen .tatle2{
	width: 100%;
	height: 1.03rem;
	font-size: 0.58rem;
	/* 字体颜色 */
	color: #fff;
	/* 字体加粗 */
	font-weight: bold;
	/* 文本属性 */
	text-align: center;
	/*与height相同 */
	line-height: 1.03rem;
}
.screen .tatle3{
	width: 100%;
	height: 0.6rem;
	font-size: 0.36rem;
	/* 字体颜色 */
	color: #fff;
	/* 字体加粗 */
	font-weight: bold;
	/* 文本属性 */
	text-align: center;
	/*与height相同 */
	line-height: 0.6rem;}
.screen .tatle4{
	width: 100%;
	/* height: 1.72rem; */
	font-size: 0.42rem;
	/* 字体颜色 */
	color: #fff;
	/* 字体加粗 */
	font-weight: bold;
	/* 文本属性 */
	text-align: center;
	/* 上间距 */
	margin-top: 1.14rem;
	/*与height相同 */
	/* line-height: 1.72rem; */
}
.con1{
	width: 100%;
	height: 2.94rem;
	background: #fff;
	border-bottom: 0.03rem solid #e4e4e4 ;
	padding-top: 0.72rem;
	padding-left: 0.58rem;
	box-sizing: border-box;
}
.content{
	width: 4.86rem;
	height: 1.1rem;
	
	border-right: 0.03rem solid #e4e4e4;
	/* 填充在边框内 */
	padding-right: 0.59rem;
	box-sizing: border-box; 
	float: left;
}
/* 此段是对上述的修改，第二个边框没填充 */
.con1 .content:nth-child(2){
	padding-right: 0;
	border-right: none;
	padding-left: 0.59rem;
}
.content .top{
	width: 100%;
	height: 0.59rem;
	
	/* 弹性布局 */
	display: flex;
	/* 两端对齐 */
	justify-content: space-between;
}
.content .top .day{
	font-size: 0.38rem;
	color: #434343;
	line-height:0.59rem; 
}
.content .top .temperature{
	font-size: 0.3rem;
	color: #434343;
	line-height:0.59rem; 
}
.content .bottom{
	width: 100%;
	height: 0.86rem;
	
	/* 弹性布局 */
	display: flex;
	/* 两端对齐 */
	justify-content: space-between;
}
.content .bottom .weather{
	font-size: 0.36rem;
	color: #434343;
	line-height:0.86rem;
}
.content .bottom .pic{
	width: 0.48rem;
	height: 0.48rem;
	/* background: red; */
	margin-top: 0.2rem;
	/* background: url('../img/0.png') no-repeat; */ 
	/* 设计图片大小 */
	background-repeat: no-repeat;/* 禁止重复 */
	background-size: 0.48rem 0.48rem;
}
.con2{
	width: 100%;
	height: 3.9rem;
	background: #fff;
	/* background: red; */
	/* 两个盒子之间的距离 */
	margin-top: 0.27rem;
	border-top: 0.03rem solid #e4e4e4;
	border-bottom: 0.03rem solid #e4e4e4;
    /* padding-top: 0.9rem;
    padding-bottom: 0.8rem; */
    /* 上 右 下 左 */
    padding: 0.9rem 0 0.8rem 0;
    box-sizing: border-box;
    /* 超出范围以滚动条显示 */
    overflow-x: auto;
}
/* 去掉滚动条 */
.con2::-webkit-scrollbar{
	height: 0
}
.con2 .wrap{
	height: 100%;
	display: flex;
}
.con2 .wrap .now{
	width: 1.68rem;
	height: 100%;
	/* background: yellow; */
	/* 禁止缩小 */
	flex-shrink: 0;
	display: flex;
	/* 改变主轴方向 */
	flex-direction: column;
	/* 两端对齐 */
	justify-content: space-between;
}
.con2 .wrap .now .now_time{
	font-size: 0.24rem;
	color: #999999;
	text-align: center;
	font-weight: normal;
}
.con2 .wrap .now .now_icon{
	width: 1rem;
	height: 1rem;
	background: url('../img/0.png') no-repeat;/* 禁止重复 */
	/* 设计图片大小 */
	background-size: 1rem 1rem;
	/* 让图片居中 */
	margin: 0 auto;
}
.con2 .wrap .now .now_temperature{
	font-size: 0.28rem;
	color: #333333;
	text-align: center;
	font-weight: normal;
}
.con3{
	width: 100%;
	height: 11.22rem;
	background: #fff; 
	 /* background: red; */ 
	/* 两个盒子之间的距离 */
	margin-top: 0.27rem;
	border-top: 0.03rem solid #e4e4e4;
	border-bottom: 0.03rem solid #e4e4e4;
    /* padding-top: 0.9rem;
    padding-bottom: 0.8rem; */
    /* 上 右 下 左 */
    padding: 0.71rem 0 0.94rem 0;
    box-sizing: border-box;
    /* 超出范围以滚动条显示 */
    overflow-x: auto;
}
.con3::-webkit-scrollbar{
	height: 0
}
.con3 .wrap{
	height: 100%;
	display: flex;
}
.con3 .wrap .recent{
	width: 2.5rem;
	height: 100%;
	/* background: yellow; */
	/* 禁止缩小 */
	flex-shrink: 0;
	display: flex;
	/* 改变主轴方向 */
	flex-direction: column;
	/* 两端对齐 */
	justify-content: space-between;
}
.con3 .wrap .recent .recent_time{
	font-size: 0.24rem;
	color: #333333;
	text-align: center;
	font-weight: normal;
}
.con3 .wrap .recent .recent_weather{
	font-size: 0.24rem;
	color: #333333;
	text-align: center;
	font-weight: normal;
}
.con3 .wrap .recent .pic{
	width: 1rem;
	height: 1rem;
	/* background: url('../img/2.png') no-repeat;/* 禁止重复 */ 
    background-repeat: no-repeat;
	/* 设计图片大小 */
	background-size: 1rem 1rem;
	/* 让图片居中 */
	margin: 0 auto;
}
.con3 .wrap .recent .recent_high{
	font-size: 0.28rem;
	color: #333333;
	text-align: center;
	font-weight: normal;
}
.con3 .wrap .recent .recent_low{
	font-size: 0.28rem;
	color: #333333;
	text-align: center;
	font-weight: normal;
}
.con3 .wrap .recent .recent_wind{
	font-size: 0.3rem;
	color: #333333;
	text-align: center;
	font-weight: normal;
}
.con3 .wrap .recent .recent_level{
	font-size: 0.3rem;
	color: #333333;
	text-align: center;
	font-weight: normal;
}
.city_box{
	width: 100%;
	height: 20rem;
	background:#fff;
	position: absolute;
	top: 0;
	left: 0;
}
.city_box .sousuo_box{
	width: 100%;
	background:#fff;
	height: 1.26rem;
	border-bottom: 0.04rem solid #e4e4e4;
	padding: 0.18rem 0.49rem 0.18rem 0.35rem;
	box-sizing: border-box;
	display: flex;
	/* 两端对齐 */
	justify-content: space-between;  
}
.city_box .sousuo_box .search_box{
	width: 8.62rem;
	height: 0.86rem;
	background: #f2f2f2;
	border-radius: 0.43rem;
}
.city_box .sousuo_box .button{
	font-size: 0.36rem;
	color: #434343;
	line-height: 0.9rem;
	/* 如何去设置字体 */
	font-family: "微软雅黑";
}
.city_box .remen_city{
    width: 100%;
    height: 14rem;
   /*  background: yellow; */
    padding:  0.24rem 0.35rem  0.36rem 0.26rem;
    box-sizing: border-box;
    overflow-y: auto;
}
.city_box .remen_city .r1{
	width:100%; 
	height:1.16rem; 
	font-size: 0.38rem;
	color: #434343;
	/* background: yellowgreen; */
	line-height: 1.16rem;
	/* 前后文字与文字间距 */
	letter-spacing: 0.03rem;
}
.city_box .remen_city .con{
	width: 100%;
	/* 不确定高度，用内容撑开 */
	height: auto;
	/* 超出部分隐藏 */
	overflow: hidden;
}
.city_box .remen_city .con .son{
	width: 3.17rem;
	height: 0.81rem;
	background: #f2f2f2;
	border-radius: 0.4rem;
	font-size: 0.32rem;
	color: #434343;
	text-align: center;
	line-height: 0.81rem;
	float: left;
	/* 上 右 下 左 */
    margin: 0 0.3rem 0.21rem 0;
}
.city_box .remen_city .con .son:nth-child(3n){
	margin-right: 0;
}